extends ./layout

block append content
  include ./modules/header-sc.jade
  main#main-contact
    .pageName
      p.page LIÊN HỆ
      p.location Trang chủ / Liên hệ
    section.section-contact
      .bs-container
        .bs-row
          .bs-col
            .module.module-contact
              .module-content
                .bs-row.row-lg-15.row-center
                  .bs-col.lg-33-15
                    p.info.address Tầng 2, Lô 8 +15 NV, Khu HH1 Ô16 Tây Hồ Tây, P.Xuân La, Q.Tây Hồ, TP.Hà Nội.
                  .bs-col.lg-33-15
                    p.info.phone 024.6666.7069
                  .bs-col.lg-33-15
                    p.info.mail vanphongace5.ace@gmail.com
    section.section-mail
      .bs-row
        .bs-col
          .module.module-mail
            .module-content
              div(style='width: 100%')
                iframe(width='100%', height='455', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?width=100%25&height=455&hl=en&q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&t=&z=14&ie=UTF8&iwloc=B&output=embed')
              .infoProvide
                h2.title LIÊN HỆ
                p Cung cấp thông tin để chúng tôi có thể hỗ trợ bạn
                .wrapper
                  form(action="/contacts", method="POST")
                    input.name#name(type='text',name='name', placeholder='Họ và tên', required)
                    input.group#organization(type='text',name='organization', placeholder='Tổ chức', required)
                    input.email#email(type='email',name='email', placeholder='Email', required)
                    input.phone#phone(type='phone',name='phone', placeholder='Số điện thoại', required)
                    textarea.content#content(name='content', placeholder='Nội dung ...', required)
                    button.sent#sent GỬI TIN 
  include ./modules/footer-sc.jade