p Happy hacking
form(action="/api/login", method="POST")
    input.email#email(type='text',name='username', placeholder='username', required)
    input.phone#phone(type='password',name='password', placeholder='password', required)
    button.sent#sent Đăng nhập